:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #f4e8c1;
  background-color: #1c2541;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  background-color: #0b132b;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #5bc0be;
}
